body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: gray;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgList {
    display: flex;
    flex-direction: row;
    height: 800px;
}

.item {
    text-align: justify;
    padding: 40px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
}

img {
    border-radius: 200px;
}

li {
    padding: 10px;
}
